body {
    background-color: #F1EFE7;
    color: black;
}
img {
    padding: 0; 
    margin: 0;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 140%;
    text-align: center;
}
h3 {
    font-size: larger;
}
textarea {
    width: 90%;
    background-color: #F1EFE7;
    border: none;
    padding: 0;
    font-weight: 300;
}
button {
    height: 45%;
    display: flex !important; 
    align-items: center !important; 
    justify-content: center !important;
    width: 50%;
    border-radius: 25px !important;
    text-align: center; 
    margin-left: 25%; 
    background-color: black !important;
    border: none !important;
}
#cafelabel {
    font-family: Snell Roundhand;
    display: block;
    border: none;
    background-color: #F1EFE7;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}
.col-4 {
    padding: 0 !important;
    margin-left: 8%;
    border: none;
}
.col-6 {
    padding: 0 !important;
}
#menuItem {
    border-radius: 15px;
    height: 120px;
}
#price {
    font-weight: 350;
    font-size: large;
    margin-left: 10%;
}